* { /* Reset the worst style breakers */
    padding: 0;
    margin: 0;
}

html { /* We always want at least this height */
    min-height: 100%;
}

/**
 * Error pages.
 */
body#error {
    font-family: sans-serif;
    height: 100%;
    background: #3378c6;
    background: -moz-radial-gradient(center, ellipse cover,  #3378c6 0%, #23538a 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3378c6), color-stop(100%,#23538a));
    background: -webkit-radial-gradient(center, ellipse cover,  #3378c6 0%,#23538a 100%);
    background: -o-radial-gradient(center, ellipse cover,  #3378c6 0%,#23538a 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #3378c6 0%,#23538a 100%);
    background: radial-gradient(ellipse at center,  #3378c6 0%,#23538a 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#error #message {
    position: absolute;
    width: 24em;
    height: 4em;

    top: 50%;
    margin-top: -2em;
    left: 50%;
    margin-left: -12em;

    text-align: center;
    color: #114;
    text-shadow: 0 1px 0 #88d;
}
