* { /* Reset the worst style breakers */
    padding: 0;
    margin: 0;
}

html { /* We always want at least this height */
    min-height: 100%;
}

#content {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 740px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
}

p {
    text-indent: 1em;
}

p:first-child {
    text-indent: 0;
}

a {
    text-decoration: none;
    color: #d22;
}

a:hover, a:active {
    text-decoration: underline;
}


/**
 * Controls
 */

#controls {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    width: 740px;
}

#controls a {
    text-decoration: none;
    color: silver;
}

#controls a:hover, #controls a:active {
    color: red;
}


/**
 * Edit pages
 */

#edit textarea {
    width: 100%;
    height: 300px;
}
